.footer__column-link {
    display: block;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-align: left;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}